# Dependencies
node_modules
.pnpm-store

# Logs
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Test Results
/coverage
/test-results/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Verification files
.env_verification*
