# Dependencies
node_modules
.pnpm-store

# Logs
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Test Results
/coverage
/test-results/
/test-user-data/
/playwright-report/

# Environment
.env
.env.local

# Verification files
.env_verification*
