name: Create Release

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get version
        id: get_version
        run: echo "VERSION=$(grep '@version' src/google_photos_unsaved_finder.user.js | sed 's/.*@version *//')" >> $GITHUB_ENV

      - name: Check if release for this version already exists
        id: check_release
        uses: actions/github-script@v7
        with:
          script: |
            const releases = await github.rest.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            const version = process.env.VERSION;
            const releaseExists = releases.data.some(release => release.tag_name === version);
            core.setOutput('exists', releaseExists);
        env:
          VERSION: ${{ env.VERSION }}

      - name: Create Release
        if: steps.check_release.outputs.exists == 'false'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          files: src/google_photos_unsaved_finder.user.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
